<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"
	th:href="@{/script/jquery/jQuery_v3.2.1.js}"></script>
<script type="text/javascript"
	th:href="@{/script/bootstrap/bootstrap.js}"></script>
<link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-lg">
				<div class="card">
					<div class="card-header badge-danger text-center">AUTENTICACIÓN</div>
					<div class="card-body">
						<form th:action="@{/login}" method="post" th:object="${loginform}">
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label> <input
									type="text" class="form-control" id="exampleInputEmail1"
									th:field="*{usuario}">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password</label> <input
									type="password" class="form-control" id="exampleInputPassword1"
									th:field="*{password}">
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-danger">Login</button>
							</div>
							<div th:if="${visualizar}" class="alert alert-danger" role="alert">
								<span th:text="${mensajeerror} ?: ''"></span>
							</div>
						</form>
					</div>
				</div>

			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</body>
</html>